* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}

body {
    margin: 15px 0;
    background: #000;
    overflow-x: hidden;
}

.containerPrincipal, .contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerPrincipal {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #010103ee 100%, #000 100%);
    width: 100dvw;
    height: 100%;
    min-height: 100dvh;
}


.contenedorFormulario{
    background-color: #ffff;
    height:90%;
    width: 29%;
    border-radius: 30px;
    box-shadow: 0 0 20px #00ccff;
}

.title {
    font-size: 24px;
    color: #1a1919;
    padding-bottom: 20px;
    padding-top: 8px;
}

.subtitle {
    font-size: 17px;
    color: #2b2929;
    padding-bottom: 20px;
}

.form{
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorCampo{
    height: 100%;
    width: 100%;
}

.contenedorCampo label {
    color: #302f2f;
}

.contenedorCampo input{
    border-radius: 7px;
    padding: 9px;
    width: 95%;
    margin-left: 4px;
    margin-top: 8px;
    background-color: rgba(216, 205, 205, 0.467);
    border: none;  
    margin-bottom: 8px;
}

.contenedorCampo input:focus, input:hover{
    border: 1px solid #48E;
    outline: none;
}

.boton {
    width: 50%;
    margin: 25px;
    background-color: #48E;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    padding: 7px;
    margin-bottom: 15px;
}




.red {
    color: rgb(43, 255, 0);
}